/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-main {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1270px;
  width: 100%;
  margin: 24px 0 auto;
}
.title-article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 15px;
  max-width: 900px;
}
.title-article::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #dedede;
  display: block;
  margin: 16px auto 0 auto;
}

.container-main .section-left .describ-article .image-text-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 {
  font-family: "Caladea", serif;
  text-align: center;
  text-transform: none;
  color: rgba(0, 0, 0, 0.85);
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 26px;
}

.athome {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: black;
  border-bottom: 1px solid;
  -webkit-transition: border 0.3s ease-out;
  -o-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out;
}

.image-cat-dog {
  margin-left: 8px;
  margin-bottom: 8px;
  height: 180px;
  float: right;
}

.describ-article {
  margin: 8px;
  width: 790px;
  padding-bottom: 18px;
  border-bottom: 1px solid #121212;
}

.text {
  max-width: 460px;
  width: 100%;
  font-family: "EB Garamond", serif;
  color: rgba(0, 0, 0, 0.85);
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 16px;
}

.bold {
  font-weight: 800;
}

.bg-orange {
  background-color: #fceeac;
}

.sign-up-link,
.explore-link {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  text-transform: capitalize;
}

.sign-up-link {
  margin-right: 24px;
}

.bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}


.global-impact h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.5px;
}

.moscow-covid {
  font-family: "Caladea", serif;
  font-size: 20px;
  text-transform: capitalize;
  color: #121212;
  max-width: 241px;
  margin-top: 8px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.2px;
}

.img-corona {
  margin-left: 8px;
  margin-bottom: 8px;
  max-width: 499px;
  width: 100%;
  float: right;
}

.text2 {
  font-size: 15px;
  color: #555555;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 270px;
  margin-top: 8px;
}

.live, .comments {
  font-family: "Oswald", sans-serif;
  color: #d0021b;
  font-size: 12px;
  text-transform: capitalize;
  margin-right: 8px;
}
.comments {
  color: #999;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 18px;
  border-bottom: 1px solid #eee;
}
.live-comments {
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.image-text-wrap2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px;
  max-width: 790px;
  padding-bottom: 18px;
}

.bottom {
  max-width: 570px;
}

.bottom-h {
  margin-top: 8px;
  font-family: "Caladea", serif;
  font-size: 16px;
  text-transform: capitalize;
  color: #121212;
  font-weight: 700;
  line-height: 26px;
}

.bottom-text-right {
  float: right;
  width: 170px;
  color: #999999;
  font-size: 11px;
  letter-spacing: 0.1px;
  line-height: 14px;
}

.light {
  color: #cccccc;
  font-size: 11px;
  letter-spacing: 0.1px;
}


.bottom::before {
  content: "";
  width: 580px;
  height: 1px;
  background-color: #e2e2e2;
  display: block;
}

.section-left {
  max-width: 816px;
  border-right: 1px solid #ccc;
  padding-right: 16px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.section-right-top {
  max-width: 400px;
  max-height: 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topic1, .topic2, .topic3, .topic4 {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.1875rem;
  text-transform: capitalize;
  width: 178px;
}

.topic1, .topic3 {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.topic2, .topic4 {
  padding-top: 8px;
}

.autor {
  color: #a19d9d;
  margin-bottom: 6px;
}

.topic-img {
  border-radius: 50%;
  float: right;
  width: 36px;
  margin-right: 6px;
}

.img-bangkok {
width: 385px;
}

.editors-picks {
  font-family: "Oswald", sans-serif;
  color: #121212;
  margin: 8px 0 auto;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}


.title2::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #dedede;
  display: block;
  margin: 16px auto 0 auto;
} 

figcaption {
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #ccc;
  text-align: right;
  margin: 3px 0 0;
  min-height: 12px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.title2 {
  margin-bottom: 12px;
  width: 248px;
  font-family: "EB Garamond", serif;
  color: rgba(0, 0, 0, 0.85);
  font-size: 28px;
  line-height: 32px;
}

.width385 {
  max-width: 385px;
  width: 100%;
}

.both {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rl, .rlb {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-right-bottom {
  padding-top: 4px;
  margin-top: 24px;
  border-top: 1px solid #121212;
}

.section-right-bottom::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #121212;
  display: block;
} 

.container-left {
  margin-bottom: 32px;
}

@media (max-width: 480px) {
  .container-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
  }
  .image-text-wrap, .bottom-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sign-up-link {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .bottom::before {
    content: "";
    width: 100%;
  }
  .img-corona {
    margin: 16px 0 8px 0;
    max-width: 499px;
    width: 100%;
  }
  .bottom-h {
    line-height: 20px;
    margin-bottom: 8px;
  }
  .bottom-text-right {
    width: 100%;
    margin-top: 8px;
  }
  .img-bangkok {
    width: 100%;
  }
  .section-right-bottom {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 32px;
  }
  .section-right-top {
    display: none;
  }

}